.no-webp .imagen-contacto {
    background-image: url('/build/img/encuentra.jpg');
}
.webp .imagen-contacto {
    background-image: url('/build/img/encuentra.webp');
}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: calc($separacion * 2) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // Semi-transparente
        z-index: 1;
    }

    h2, p, a {
        position: relative;
        z-index: 2;
        color: $blanco;
        text-align: center;
    }

    h2 {
        font-size: 4rem;
        font-weight: $black;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .boton-amarillo {
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }
}